#!/usr/bin/env bash

alias dot="dotfiles"
alias cat="ccat"
alias vim="nvim"
alias weather='curl -4 http://wttr.in/Sao_Paulo'
alias moon='curl -4 http://wttr.in/Moon'
alias dotfiles='/usr/bin/git --git-dir=${HOME}/.df/ --work-tree=${HOME}'
alias server='python -m "SimpleHTTPServer" 8000'
alias tldr="tldr --theme ocean"
