#!/usr/bin/env bash

# ssh
export SSH_KEY_PATH="~/.ssh/id_rsa"

export MANPATH="/usr/local/man:$MANPATH"

export EDITOR=nvim

export LANG=en_US.UTF-8

# Android Studio
export ANDROID_HOME=~/Library/Android/sdk
export PATH=$PATH:~/Library/Android/sdk/platform-tools
export PATH=$PATH:~/Library/Android/sdk/tools

# Fastlane
export PATH="$HOME/.fastlane/bin:$PATH"

# Path to your oh-my-zsh installation.
export ZSH=~/.oh-my-zsh

export PATH="$HOME/.jenv/bin:$PATH"
# Add RVM to PATH for scripting. Make sure this is the last PATH variable change.
export PATH="$PATH:$HOME/.rvm/bin"

# RabbitMQ
PATH=$PATH:/usr/local/sbin

# Node version manager
export NVM_DIR="$HOME/.nvm"

# Golang
export GOROOT=/usr/local/opt/go/libexec
export GOPATH=$HOME/Code/go
export PATH=$PATH:$GOROOT/bin:$GOPATH/bin
