[user]
	email = lborgav@gmail.com
	name = Leonardo Borges Avelino
	signingkey = 72DEB6105C29DC2C
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	ui = true
	excludesfile = /Users/lborgav/.gitignore_global
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	header = black normal bold
	added = green normal bold
	updated = green normal bold
	changed = yellow normal bold
	untracked = cyan normal bold
	branch = magenta normal bold
	nobranch = normal normal bold
	unmerged = red normal bold
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = false
	template = /Users/lborgav/.stCommitMsg
[alias]
	unstage = reset HEAD --
	undo = checkout --
	rollback = reset --soft HEAD~1
[gpg]
	program = gpg
[url "ssh://git@git.a.com:"]
        insteadOf = https://git.a.com
[url "git@github.com:estrategiahq"]
	insteadOf = https://github.com/estrategiahq
[url "git@github.com:"]
	insteadOf = https://github.com/
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[init]
	defaultBranch = main
[pull]
	rebase = false
